body {
    background-image: url("images/marvel1.jpeg");
    background-size: 100% 100%;
    
}


#h1ID {
    color:white;
    background-color: rgb(226,54,54);
}

#navbarNavDropdown {
    background-color:rgb(226,54,54);
    color: white;
    float: right;
    margin-left:650px;

}

a:link {

    color: blue;
    cursor: url("images/spidey_Mjd_icon.ico"), default;
    
    }
    
    a:visited {
    
    color: green;
    cursor: url("images/spidey_Mjd_icon.ico"), default;
    
    }
    
    a:hover {
    
    color: yellow;
    cursor: url("images/spidey_Mjd_icon.ico"), default;
    }